<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Post</th>
      <th>Referer</th>
      <th>Published at</th>
      <th>Modified at</th>
      <th>Blocked at</th>
      <th>Blocker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.title %></td>
        <td><%= comment.content_id %></td>
        <td><%= comment.author_id %></td>
        <td><%= comment.post_id %></td>
        <td><%= comment.referer_id %></td>
        <td><%= comment.published_at %></td>
        <td><%= comment.modified_at %></td>
        <td><%= comment.blocked_at %></td>
        <td><%= comment.blocker_id %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
