%p#notice= notice
%p
  %strong Id:
  = @comment.id
%p
  %strong Title:
  = @comment.title
%p
  %strong Content:
  = @comment.content_id
%p
  %strong Author:
  = @comment.author_id
%p
  %strong Post:
  = @comment.post_id
%p
  %strong Referer:
  = @comment.referer_id
%p
  %strong Published at:
  = @comment.published_at
%p
  %strong Modified at:
  = @comment.modified_at
%p
  %strong Blocked at:
  = @comment.blocked_at
%p
  %strong Blocker:
  = @comment.blocker_id
= link_to 'Edit', edit_comment_path(@comment)
|
= link_to 'Back', comments_path
