<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :avatar_path %>
    <%= form.text_field :avatar_path, id: :user_avatar_path %>
  </div>

  <div class="field">
    <%= form.label :alipay_id %>
    <%= form.text_field :alipay_id, id: :user_alipay_id %>
  </div>

  <div class="field">
    <%= form.label :tencent_id %>
    <%= form.text_field :tencent_id, id: :user_tencent_id %>
  </div>

  <div class="field">
    <%= form.label :blocked_at %>
    <%= form.datetime_select :blocked_at, id: :user_blocked_at %>
  </div>

  <div class="field">
    <%= form.label :blocker_id %>
    <%= form.text_area :blocker_id, id: :user_blocker_id %>
  </div>

  <div class="field">
    <%= form.label :roles %>
    <%= form.text_area :roles, id: :user_roles %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
