%p#notice= notice
%h1 Users
%table
  %thead
    %tr
      %th Id
      %th Name
      %th Email
      %th Avatar path
      %th Alipay
      %th Tencent
      %th Blocked at
      %th Blocker
      %th Roles
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td= user.avatar_path
        %td= user.alipay_id
        %td= user.tencent_id
        %td= user.blocked_at
        %td= user.blocker_id
        %td= user.roles
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
