<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar path:</strong>
  <%= @user.avatar_path %>
</p>

<p>
  <strong>Alipay:</strong>
  <%= @user.alipay_id %>
</p>

<p>
  <strong>Tencent:</strong>
  <%= @user.tencent_id %>
</p>

<p>
  <strong>Blocked at:</strong>
  <%= @user.blocked_at %>
</p>

<p>
  <strong>Blocker:</strong>
  <%= @user.blocker_id %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.roles %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
