%p#notice= notice
%p
  %strong Id:
  = @post.id
%p
  %strong Category:
  = @post.category_id
%p
  %strong Author:
  = @post.author_id
%p
  %strong Title:
  = @post.title
%p
  %strong Content:
  = @post.content
%p
  %strong Published at:
  = @post.published_at
%p
  %strong Modified at:
  = @post.modified_at
%p
  %strong Blocked at:
  = @post.blocked_at
%p
  %strong Blocker:
  = @post.blocker_id
%p
  %strong Tags:
  = @post.tags
= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', posts_path
