<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :category_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :category_title %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details, id: :category_details %>
  </div>

  <div class="field">
    <%= form.label :blocked_at %>
    <%= form.datetime_select :blocked_at, id: :category_blocked_at %>
  </div>

  <div class="field">
    <%= form.label :blocker_id %>
    <%= form.text_field :blocker_id, id: :category_blocker_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
